<section class="section kitchen">
    <div class="container">
        <h2 hidden="">About our restaurant</h2>
        <h3 class="kitchen__description">Amet minim mollit non</h3>
        <a class="logo" lang="en" href=".//index.html">MIMIHO</a>
        <p class="kitchen__tehnologies">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
            Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>
            <div class="kitchen__tumb kitchen__tumb--kitchen">
                <img class="kitchen__photo" srcset="#" src="#" alt="Сooking process">
            </div>
        <div class="kitchen__principles">
            <div class="kitchen__tumb kitchen__tumb--meat">
                <img class="kitchen__photo" srcset="#" src="#" alt="Meat preparation">
            </div>
            <p class="kitchen__principles-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
        </div>
        <div class="kitchen__buttons">
        <button class="slide-button" type="button">
            <svg class="slide-button__icon">
                <use href="./images/icons.svg#icon-arrow-left" width="32px" height="32px"></use>
            </svg>
        </button>
        <button class="slide-button--mirror" type="button">
            <svg class="slide-button__icon">
                <use href="./images/icons.svg#icon-arrow-right" width="32px" height="32px"></use>
            </svg>
        </button>
        </div>
    </div>
</section>