<section class="section kitchen amenities__line">
  <div class="container">
    <h2 hidden="">About our restaurant</h2>
    <h3 class="kitchen__description">Amet minim mollit non</h3>
    <a class="logo-mimino" lang="en" href="#">MIMIHO</a>
    <p class="kitchen__tehnologies">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="kitchen__processes">
      <div class="kitchen__tumb--kitchen">
        <img
          class="kitchen__photo"
          srcset="
            ./images/restaurant-page/mobile-kitchen1.jpg     244w,
            ./images/restaurant-page/mobile-kitchen1@2x.jpg  488w,
            ./images/restaurant-page/tablet-kitchen1.jpg     400w,
            ./images/restaurant-page/tablet-kitchen1@2x.jpg  800w,
            ./images/restaurant-page/desktop-kitchen1.jpg    460w,
            ./images/restaurant-page/desktop-kitchen1@2x.jpg 920w
          "
          sizes="(min-width: 1280px) 50vw, (min-width: 1024px) 50vw, (max-width: 1023px) 100vw"
          src="./images/restaurant-page/mobile-kitchen1.jpg"
          alt="Сooking process"
        />
      </div>
    </div>
    <div class="kitchen__principles">
      <div class="kitchen__tumb--meat">
        <img
          class="kitchen__photo"
          srcset="
            ./images/restaurant-page/mobile-kitchen2.jpg     244w,
            ./images/restaurant-page/mobile-kitchen2@2x.jpg  488w,
            ./images/restaurant-page/tablet-kitchen2.jpg     400w,
            ./images/restaurant-page/tablet-kitchen2@2x.jpg  800w,
            ./images/restaurant-page/desktop-kitchen2.jpg    460w,
            ./images/restaurant-page/desktop-kitchen2@2x.jpg 920w
          "
          sizes="(min-width: 1280px) 50vw, (min-width: 1024px) 50vw, (max-width: 1023px) 100vw"
          src="./images/restaurant-page/mobile-kitchen2.jpg"
          alt="Meat preparation"
        />
      </div>
      <p class="kitchen__principles-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="carousel" id="carousel">
      <div class="gallery">
        <ul class="gallery__list">
          <li class="kitchen__slide">
            <img
              class="kitchen__slider-photo"
              srcset="
                ./images/restaurant-page/mobile-kitchen-slider1.jpg    245w,
                ./images/restaurant-page/mobile-kitchen-slider1@2x.jpg 490w,
                ./images/restaurant-page/tablet-kitchen-slider1.jpg    194w,
                ./images/restaurant-page/tablet-kitchen-slider1@2x.jpg 388w
              "
              sizes="(min-width: 1280px) 15vw, (min-width: 1024px) 20vw, (max-width: 1023px) 100vw"
              src="./images/restaurant-page/mobile-kitchen-slider1.jpg"
              alt="kitchen products"
            />
          </li>
          <li class="kitchen__slide">
            <img
              class="kitchen__slider-photo"
              srcset="
                ./images/restaurant-page/mobile-kitchen-slider2.jpg    245w,
                ./images/restaurant-page/mobile-kitchen-slider2@2x.jpg 490w,
                ./images/restaurant-page/tablet-kitchen-slider2.jpg    194w,
                ./images/restaurant-page/tablet-kitchen-slider2@2x.jpg 388w
              "
              sizes="(min-width: 1280px) 15vw, (min-width: 1024px) 20vw, (max-width: 1023px) 100vw"
              src="./images/restaurant-page/mobile-kitchen-slider2.jpg"
              alt="kitchen products"
            />
          </li>
        </ul>
      </div>
      <div class="kitchen__buttons">
        <button class="slide-button prev" type="button">
          <svg class="slide-button__icon">
            <use
              href="./images/icons.svg#icon-arrow-left"
              width="32px"
              height="32px"
            ></use>
          </svg>
        </button>
        <button class="slide-button--mirror next" type="button">
          <svg class="slide-button__icon">
            <use
              href="./images/icons.svg#icon-arrow-right"
              width="32px"
              height="32px"
            ></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <script>
    /* этот код помечает картинки, для удобства разработки */
    let i = 1;
    for (let li of carousel.querySelectorAll('li')) {
      li.style.position = 'relative';
      li.insertAdjacentHTML(
        'beforeend',
        `<span style="position:absolute;left:0;top:0">${i}</span>`
      );
      i++;
    }

    /* конфигурация */
    let width = 245; // ширина картинки
    let count = 1; // видимое количество изображений

    let list = carousel.querySelector('ul');
    let listElems = carousel.querySelectorAll('li');

    let position = 0; // положение ленты прокрутки

    carousel.querySelector('.prev').onclick = function () {
      // сдвиг влево
      position += width * count;
      // последнее передвижение влево может быть не на 3, а на 2 или 1 элемент
      position = Math.min(position, 0);
      list.style.marginLeft = position + 'px';
    };

    carousel.querySelector('.next').onclick = function () {
      // сдвиг вправо
      position -= width * count;
      // последнее передвижение вправо может быть не на 3, а на 2 или 1 элемент
      position = Math.max(position, -width * (listElems.length - count));
      list.style.marginLeft = position + 'px';
    };
  </script>
</section>
