@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: "Times New Roman";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/TimesNewRoman-Regular.woff2");
}
@font-face {
  font-family: "Times New Roman";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/TimesNewRoma-Bold.woff2");
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Montserrat-Light.woff2");
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.woff2");
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.woff2");
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Montserrat-SemiBold.woff2");
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.woff2");
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Montserrat-Light.woff2");
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.woff2");
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.woff2");
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Montserrat-SemiBold.woff2");
}
@font-face {
  font-family: "Film P3";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/FilmP3-Bold.woff2");
}
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-brown: #c79002;
  --color-accent-yellow: #f3c653;
  --color-background: #605b5b;
  --color-background-lemon: #fffdee;
  --color-background-dark-lemon: #f0ecd6;
  --color-background-footer: #0e0c07;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 14px;
  color: var(--color-primary);
  background-color: var(--color-white);
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 414px) {
  .container {
    width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

.interior {
  background: #FFFDEE;
  font-family: "Montserrat";
  width: 414px;
  margin: auto;
  padding: 18px 15px 20px 15px;
}
@media (min-width: 1024px) {
  .interior {
    width: 1024px;
  }
}
@media (min-width: 1280px) {
  .interior {
    width: 1280px;
  }
}

.interior_title {
  text-align: right;
  margin: 0 0 16px 0;
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: #494848;
}

.interior_text {
  text-align: right;
  margin: 0 0 6px 0;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #B4B4B4;
}

.interior_list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.interior_item {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #5F5F5F;
  width: 100%;
}

.interior_item:nth-child(2n) {
  flex-direction: row;
  align-items: center;
  margin: 0;
}

/*
.interior_list>.interior_item:nth-child(2n)>.interior_img {
    width: 200px;
}
        width: 163px;
        color: #C79002;
*/
.interior_img {
  display: block;
  width: 244px;
  border-radius: 2px;
  margin-bottom: 32px;
}

.interior_description {
  text-align: left;
  align-self: flex-end;
  margin: 0 0 28px 0;
  width: 242px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #5F5F5F;
}

.interior_item:nth-child(2n) > .interior_description {
  align-self: center;
  margin-bottom: 0;
}

.interior_item:nth-child(2n) {
  justify-content: space-between;
}

.button {
  width: 236px;
  height: 48px;
  background-color: var(--color-black);
  border: 2px solid var(--color-background-lemon);
  border-radius: 25px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-accent-yellow);
}
.button:hover, .button:focus {
  background-color: var(--color-white);
  border-color: var(--color-accent-yellow);
}
@media screen and (max-width: 414px) {
  .button {
    max-width: 236px;
  }
}

.button-form {
  width: 384px;
  height: 64px;
  background-color: var(--color-black);
  border: 1px solid var(--color-accent-yellow);
  border-radius: 2px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-white);
}
.button-form:hover, .button-form:focus {
  background-color: var(--color-accent-yellow);
  color: var(--color-black);
}
@media screen and (max-width: 414px) {
  .button-form {
    max-width: 384px;
  }
}
@media screen and (min-width: 1024px) {
  .button-form {
    width: 592px;
    font-size: 24px;
    line-height: 1.208;
  }
}

.button-first {
  width: 384px;
  height: 64px;
  background: var(--color-black);
  border: 1px solid var(--color-accent-yellow);
  border-radius: 25px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-white);
}
.button-first:hover, .button-first:focus {
  background-color: var(--color-accent-yellow);
  color: var(--color-black);
}
@media screen and (max-width: 414px) {
  .button-first {
    max-width: 384px;
  }
}
@media screen and (min-width: 1024px) {
  .button-first {
    width: 434px;
    font-size: 24px;
    line-height: 1.208;
  }
}

.button-second {
  width: 236px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid var(--color-white);
  border-radius: 25px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-accent-yellow);
}
.button-second:hover, .button-second:focus {
  background-color: var(--color-white);
}
@media screen and (max-width: 414px) {
  .button-second {
    max-width: 236px;
  }
}

.logo {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background-color: red;
  display: flex;
  color: cyan;
}

.logo-team {
  justify-content: center;
  align-items: center;
  text-align: center;
}/*# sourceMappingURL=index.css.map */