@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: "Times New Roman";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/TimesNewRoman-Regular.woff2");
}
@font-face {
  font-family: "Times New Roman";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/TimesNewRoman-Bold.woff2");
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Montserrat-Light.woff2");
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.woff2");
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.woff2");
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Montserrat-SemiBold.woff2");
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.woff2");
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Montserrat-Light.woff2");
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.woff2");
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.woff2");
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Montserrat-SemiBold.woff2");
}
@font-face {
  font-family: "Film P3";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/FilmP3-Bold.woff2");
}
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-brown: #c79002;
  --color-accent-yellow: #f3c653;
  --color-logo: #494848;
  --color-paragraph-gray: #5F5F5F;
  --color-background: #605b5b;
  --color-background-lemon: #fffdee;
  --color-background-dark-lemon: #f0ecd6;
  --color-background-footer: #0e0c07;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Times New Roman", "Raleway", "Film P3", sans-serif;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 414px) {
  .container {
    width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

.button {
  width: 236px;
  height: 48px;
  background-color: var(--color-black);
  border: 2px solid var(--color-background-lemon);
  border-radius: 25px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-accent-yellow);
}
.button:hover, .button:focus {
  background-color: var(--color-white);
  border-color: var(--color-accent-yellow);
}
@media screen and (max-width: 414px) {
  .button {
    max-width: 236px;
  }
}

.button-form {
  width: 384px;
  height: 64px;
  background-color: var(--color-black);
  border: 1px solid var(--color-accent-yellow);
  border-radius: 2px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-white);
}
.button-form:hover, .button-form:focus {
  background-color: var(--color-accent-yellow);
  color: var(--color-black);
}
@media screen and (max-width: 414px) {
  .button-form {
    max-width: 384px;
  }
}
@media screen and (min-width: 1024px) {
  .button-form {
    width: 592px;
    font-size: 24px;
    line-height: 1.208;
  }
}

.button-first {
  width: 384px;
  height: 64px;
  background: var(--color-black);
  border: 1px solid var(--color-accent-yellow);
  border-radius: 25px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-white);
}
.button-first:hover, .button-first:focus {
  background-color: var(--color-accent-yellow);
  color: var(--color-black);
}
@media screen and (max-width: 414px) {
  .button-first {
    max-width: 384px;
  }
}
@media screen and (min-width: 1024px) {
  .button-first {
    width: 434px;
    font-size: 24px;
    line-height: 1.208;
  }
}

.button-second {
  width: 236px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid var(--color-white);
  border-radius: 25px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-accent-yellow);
}
.button-second:hover, .button-second:focus {
  background-color: var(--color-white);
}
@media screen and (max-width: 414px) {
  .button-second {
    max-width: 236px;
  }
}

.header {
  height: 143px;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 54.17%, rgba(0, 0, 0, 0) 100%);
}

.header__container {
  display: flex;
  justify-content: space-between;
  z-index: 99;
}

.logo {
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: var(--color-white);
  text-decoration: none;
  padding-top: 16px;
}

.site-nav {
  display: flex;
  padding-top: 28px;
}

.site-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-nav__link {
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  gap: 6px;
  color: var(--color-accent-yellow);
  text-decoration: none;
}

.site-nav__number--tel {
  display: none;
}

.site-nav__svg {
  justify-content: center;
  align-items: center;
  fill: var(--color-accent-yellow);
}

.social {
  display: none;
}

.social__svg {
  fill: var(--color-accent-yellow);
}

@media screen and (min-width: 414px) {
  .site-nav {
    gap: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .logo {
    margin-right: 87px;
    padding-top: 24px;
  }
  .site-nav {
    gap: 72px;
  }
  .site-nav__link {
    margin-right: 32px;
  }
  .site-nav__link--container {
    display: flex;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
    padding: 8px;
    gap: 16px;
  }
  .site-nav__number {
    display: none;
  }
  .site-nav__number--tel {
    display: flex;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: var(--color-white);
    text-decoration: none;
  }
  .site-nav__svg {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .logo {
    margin-right: 96px;
  }
  .site-nav {
    gap: 69px;
  }
  .site-nav__link {
    display: flex;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    gap: 0px;
  }
  .social {
    margin-top: 38px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 59px;
  }
}/*# sourceMappingURL=index.css.map */