@font-face {
  font-family: 'Times New Roman';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/TimesNewRoman-Regular.woff2');
}
@font-face {
  font-family: 'Times New Roman';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/TimesNewRoman-Bold.woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Montserrat-Light.woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat-Regular.woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Montserrat-Medium.woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Montserrat-SemiBold.woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Montserrat-Bold.woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Montserrat-Light.woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat-Regular.woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Montserrat-Medium.woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Montserrat-SemiBold.woff2');
}
@font-face {
  font-family: 'Film P3';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/FilmP3-Bold.woff2');
}
