:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-brown: #c79002;
  --color-accent-yellow: #f3c653;
  --color-logo: #494848;
  --color-paragraph-gray: #5F5F5F;
  --color-background: #605b5b;
  --color-background-lemon: #fffdee;
  --color-background-dark-lemon: #f0ecd6;
  --color-background-footer: #0e0c07;
  --color-gray: #B4B4B4;
  --animation-time: 250ms;
  --bezier-function: cubic-bezier(0.4, 0, 0.2, 1);
}