<section class="section amenities">
  <div class="container">
    <span class="amenities__line"></span>
    <h2 class="amenities__title">Зручності у номері</h2>
    <p class="amenities__text text--1">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul>
      <li class="amenities__item">
        <h3 class="amenities__subtitle">Загальні</h3>
        <div class="amenities__flex">
          <p class="amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities__item">
        <h3 class="amenities__subtitle">Ванна кімната</h3>
        <div class="amenities__flex">
          <p class="amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities__item">
        <h3 class="amenities__subtitle">Спальня</h3>
        <div class="amenities__flex">
          <p class="amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="amenities__item">
        <h3 class="amenities__subtitle">Кухня</h3>
        <div class="amenities__flex">
          <p class="amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p class="amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="amenities__item">
        <h3 class="amenities__subtitle">Медіа</h3>
        <div class="amenities__flex">
          <p class="amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
        </div>
      </li>
    </ul>
    <div class="amenities-btns">
      <button class="button-first amenities__button" data-modal-room-open type="button">
        Оформити бронювання
      </button>

      <a href="./hotel.html" class="amenities__link"
        >Повернутися до перегляду номерів
        <svg width="24" height="24">
          <use
            class="amenities__icon"
            href="./images/icons.svg#icon-arrow-right"
          ></use></svg></a>
    </div>
  </div>
</section>
