<section class="hero hero--room">
  <div class="container hero__container hero__container--room">
    <h1 class="hero__room-title">ДВОМІСНИЙ НОМЕР люкс</h1>
    <p class="hero__room-description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="hero__button-room">
      <button class="button-second" type="button" data-modal-price-open>
        Переглянути ціни
      </button>
    </div>
    <ul class="social__list social__list--room">
      <li class="social__item">
        <a href="" target="_blank" class="social__link">
          <svg class="social__logo" width="24" height="24">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="" target="_blank" class="social__link">
          <svg class="social__logo" width="24" height="24">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="" target="_blank" class="social__link">
          <svg class="social__logo" width="24" height="24">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="hero__address hero__address--room">
      <svg class="hero__address-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-location"></use>
      </svg>
      <a href="https://goo.gl/maps/4mu5xAKBsEyrmH4fA" class="hero__address-link"
        >Україна, м.Полтава, <br />
        вул. Маршала Бірюзова, 15</a
      >
    </div>
  </div>
</section>
