<section class="hero--room">
  <div class="hero__container--room">
    <div class="hero__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/hotel-page/desktop-background-hero-hotel-room.jpg    1x,
                ./images/hotel-page/desktop-background-hero-hotel-room@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/hotel-page/tablet-background-hero-hotel-room.jpg    1x,
                ./images/hotel-page/tablet-background-hero-hotel-room@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width:1024px)"
            />
            <source
              srcset="
                ./images/hotel-page/mobile-background-hero-hotel-room.jpg    1x,
                ./images/hotel-page/mobile-background-hero-hotel-room@2x.jpg 2x
              "
              type="image/jpeg"
              media="(max-width:1023px)"
            />
            <img
              class="hero__room-img"
              src="./images/hotel-page/mobile-background-hero-hotel-room.jpg"
              alt="Кімната готелю"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/hotel-page/desktop-background-hero-hotel-room.jpg    1x,
                ./images/hotel-page/desktop-background-hero-hotel-room@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/hotel-page/tablet-background-hero-hotel-room.jpg    1x,
                ./images/hotel-page/tablet-background-hero-hotel-room@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width:1024px)"
            />
            <source
              srcset="
                ./images/hotel-page/mobile-background-hero-hotel-room.jpg    1x,
                ./images/hotel-page/mobile-background-hero-hotel-room@2x.jpg 2x
              "
              type="image/jpeg"
              media="(max-width:1023px)"
            />
            <img
              class="hero__room-img"
              src="./images/hotel-page/mobile-background-hero-hotel-room.jpg"
              alt="Кімната готелю"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/hotel-page/desktop-background-hero-hotel-room.jpg    1x,
                ./images/hotel-page/desktop-background-hero-hotel-room@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/hotel-page/tablet-background-hero-hotel-room.jpg    1x,
                ./images/hotel-page/tablet-background-hero-hotel-room@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width:1024px)"
            />
            <source
              srcset="
                ./images/hotel-page/mobile-background-hero-hotel-room.jpg    1x,
                ./images/hotel-page/mobile-background-hero-hotel-room@2x.jpg 2x
              "
              type="image/jpeg"
              media="(max-width:1023px)"
            />
            <img
              class="hero__room-img"
              src="./images/hotel-page/mobile-background-hero-hotel-room.jpg"
              alt="Кімната готелю"
            />
          </picture>
        </div>
      </div>
      <div class="hero__button-arrow hero__button-arrow--left">
        <svg width="40" height="40">
          <use href="./images/icons.svg#icon-arrow-left"></use>
        </svg>
      </div>
      <div class="hero__button-arrow hero__button-arrow--right">
        <svg width="40" height="40">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
    <h1 class="hero__room-title">ДВОМІСНИЙ НОМЕР люкс</h1>
    <p class="hero__room-description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="hero__button-room">
      <button class="button-second" type="button" data-modal-price-open>
        Переглянути ціни
      </button>
    </div>
    <ul class="social__list social__list--room">
      <li class="social__item">
        <a href="https://www.instagram.com/" target="_blank" class="social__link">
          <svg class="social__logo" width="24" height="24">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="https://www.facebook.com/" target="_blank" class="social__link">
          <svg class="social__logo" width="24" height="24">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="https://telegram.org/" target="_blank" class="social__link">
          <svg class="social__logo" width="24" height="24">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="hero__address hero__address--room">
      <svg class="hero__address-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-location"></use>
      </svg>
      <a href="https://goo.gl/maps/4mu5xAKBsEyrmH4fA" class="hero__address-link"
        >Україна, м.Полтава, <br />
        вул. Маршала Бірюзова, 15</a
      >
    </div>
  </div>
</section>
