<section class="hotel-room__luxe">
    <div class="container container__room">
        <h3 class="hotel-room__title">Amet minim mollit non</h3>
        <h2 class="hotel-room__logo">MIMIHO</h2>
        <h1 class="hotel-room__heading">ДВОМІСНИЙ НОМЕР люкс</h1>
        <p class="hotel-room__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <picture>
            <source media="(min-width: 1280px)"
                srcset="/dist/desktop-hotel-interior1.7a1689b5.jpg 1x, /dist/desktop-hotel-interior1@2x.1f9c37c9.jpg 2x"
                src="/dist/desktop-hotel-interior1.7a1689b5.jpg" width="460">
            <source media="(min-width: 1024px)"
                srcset="/dist/tablet-hotel-interior1.8e601f7d.jpg 1x, /dist/tablet-hotel-interior1@2x.c37bb1e9.jpg 2x"
                src="/dist/desktop-hotel-interior1.7a1689b5.jpg" width="400">
            <img srcset="/dist/mobile-hotel-interior1.5b7da41b.jpg 1x, /dist/mobile-hotel-interior1@2x.73d4e928.jpg 2x"
                src="/dist/mobile-hotel-interior1.5b7da41b.jpg" width="244" alt="Інтер'єр номеру" class="hotel-room__img">
        </picture>

        



        <button type="button" href="/src/room.html" class="button hotel-button__detals">Детальніше</button>
        <button type="button" class="button hotel-button__detals" data-modal-price-open>Переглянути ціни</button>
    </div>
</section>