<section class="hotel-room__luxe">
  <span class="hotel-room__luxe--line"></span>
  <div class="container container__room">
    <h3 class="hotel-room__title">Amet minim mollit non</h3>
    <h2 class="hotel-room__logo">MIMIHO</h2>
    <h1 class="hotel-room__heading">ДВОМІСНИЙ НОМЕР люкс</h1>
    <p class="hotel-room__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
      <source
        srcset="
          ./images/main-page/mobile-hotel-interior1.jpg    1x,
          ./images/main-page/mobile-hotel-interior1@2x.jpg 2x
        "
        media="(max-width: 1023px)"
      />
      <source
        srcset="
          ./images/main-page/tablet-hotel-interior1.jpg    1x,
          ./images/main-page/tablet-hotel-interior1@2x.jpg 2x
        "
        media="(max-width: 1279px)"
      />
      <source
        srcset="
          ./images/main-page/desktop-hotel-interior1.jpg    1x,
          ./images/main-page/desktop-hotel-interior1@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <img
        src="./images/main-page/mobile-hotel-interior1.jpg"
        alt="Інтер'єр номеру"
        class="hotel-room__img"
      />
    </picture>

    <div class="swiper swiper__room">
      <ul class="swiper-wrapper room-hotel__list">
        <li class="swiper-slide room-hotel__item">
          <picture>
            <source
              srcset="
                ./images/hotel-page/mobile-hotel-slider2.jpg    1x,
                ./images/hotel-page/mobile-hotel-slider2@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/hotel-page/tablet-hotel-slider2.jpg    1x,
                ./images/hotel-page/tablet-hotel-slider2@2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/hotel-page/desktop-hotel-slider2.jpg    1x,
                ./images/hotel-page/desktop-hotel-slider2@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              class="room-hotel__foto"
              src="./images/hotel-page/mobile-hotel-slider2.jpg"
              alt="Фото інтер'єру кімнати"
            />
          </picture>
        </li>
        <li class="swiper-slide room-hotel__item">
          <picture>
            <source
              srcset="
                ./images/hotel-page/mobile-hotel-slider1.jpg    1x,
                ./images/hotel-page/mobile-hotel-slider1@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/hotel-page/tablet-hotel-slider1.jpg    1x,
                ./images/hotel-page/tablet-hotel-slider1@2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/hotel-page/desktop-hotel-slider1.jpg    1x,
                ./images/hotel-page/desktop-hotel-slider1@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              class="room-hotel__foto"
              src="./images/hotel-page/mobile-hotel-slider1.jpg"
              alt="Фото інтер'єру кімнати"
            />
          </picture>
        </li>
        <li class="swiper-slide room-hotel__item">
          <picture>
            <source
              srcset="
                ./images/hotel-page/mobile-hotel-slider2.jpg    1x,
                ./images/hotel-page/mobile-hotel-slider2@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/hotel-page/tablet-hotel-slider2.jpg    1x,
                ./images/hotel-page/tablet-hotel-slider2@2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/hotel-page/desktop-hotel-slider2.jpg    1x,
                ./images/hotel-page/desktop-hotel-slider2@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              class="room-hotel__foto"
              src="./images/hotel-page/mobile-hotel-slider2.jpg"
              alt="Фото інтер'єру кімнати"
            />
          </picture>
        </li>
      </ul>
      <div class="room-hotel__button-wrapper">
        <button
          class="swiper-button__room-prev1 room-hotel__button-swipe"
          type="button"
        >
          <svg class="room-hotel__button-icon">
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button
          class="swiper-button__room-next1 room-hotel__button-swipe"
          type="button"
        >
          <svg class="room-hotel__button-icon">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>

    <button
      class="button hotel-button__detals"
      onclick="window.location.href = './room.html';"
    >
      Детальніше
    </button>
    <button
      type="button"
      class="button hotel-button__detals"
      data-modal-price-open
    >
      Переглянути ціни
    </button>
  </div>
  <script type="module" src="./js/slider-hotel-room.js"></script>
</section>
