<section class="hotel-room__luxe">
  <div class="container container__room">
    <h3 class="hotel-room__title">Amet minim mollit non</h3>
    <h2 class="hotel-room__logo">MIMIHO</h2>
    <h1 class="hotel-room__heading">ДВОМІСНИЙ НОМЕР</h1>
    <p class="hotel-room__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/main-page/desktop-hotel-interior1.jpg    1x,
          ./images/main-page/desktop-hotel-interior1@2x.jpg 2x
        "
        src="./images/main-page/desktop-hotel-interior1.jpg"
        width="460"
      />
      <source
        media="(min-width: 1024px)"
        srcset="
          ./images/main-page/tablet-hotel-interior1.jpg    1x,
          ./images/main-page/tablet-hotel-interior1@2x.jpg 2x
        "
        src="./images/main-page/tablet-hotel-interior1.jpg"
        width="400"
      />
      <img
        srcset="
          ./images/main-page/mobile-hotel-interior1.jpg    1x,
          ./images/main-page/mobile-hotel-interior1@2x.jpg 2x
        "
        src="./images/main-page/mobile-hotel-interior1.jpg"
        width="244"
        alt="Інтер'єр номеру"
        class="hotel-room__img"
      />
    </picture>




  <div class="swiper swiper__room swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
    <ul class="swiper-wrapper swiper-wrapper__room room-hotel__list" id="swiper-wrapper-ffe2b4130f0f25e8"
      aria-live="polite" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
      <li class="swiper-slide room-hotel__item swiper-slide-duplicate swiper-slide-duplicate-active"
        data-swiper-slide-index="0" role="group" aria-label="1 / 6">
        <picture>
          <source
            srcset="./images/hotel-page/desktop-hotel-slider2.jpg 1x, ./images/hotel-page/desktop-hotel-slider2@2x.jpg 2x"
            media="(min-width: 1280px)">
          <source
            srcset="./images/hotel-page/tablet-hotel-slider2.jpg 1x, ./images/hotel-page/tablet-hotel-slider2@2x.jpg 2x"
            media="(max-width: 1279px)">
          <source
            srcset="./images/hotel-page/mobile-hotel-slider2.jpg 1x, ./images/hotel-page/mobile-hotel-slider2@2x.jpg 2x"
            media="(max-width: 1023px)">
          <img class="room-hotel__foto" src="./images/hotel-page/mobile-hotel-slider2.jpg" alt="Фото інтер'єру кімнати">
        </picture>
      </li>
      <li class="swiper-slide details-hotel__item swiper-slide-duplicate swiper-slide-duplicate-next"
        data-swiper-slide-index="1" role="group" aria-label="2 / 6">
        <picture>
          <source
            srcset="./images/hotel-page/desktop-hotel-slider1.jpg 1x, ./images/hotel-page/desktop-hotel-slider1@2x.jpg 2x"
            media="(min-width: 1280px)">
          <source
            srcset="./images/hotel-page/tablet-hotel-slider1.jpg 1x, ./images/hotel-page/tablet-hotel-slider1@2x.jpg 2x"
            media="(max-width: 1279px)">
          <source
            srcset="./images/hotel-page/mobile-hotel-slider1.jpg 1x, ./images/hotel-page/mobile-hotel-slider1@2x.jpg 2x"
            media="(max-width: 1023px)">
          <img class="details-hotel__foto" src="./images/hotel-page/mobile-hotel-slider1.jpg"
            alt="Фото інтер'єру кімнати">
        </picture>
      </li>
      <li class="swiper-slide details-hotel__item swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="2"
        role="group" aria-label="3 / 6">
        <picture>
          <source
            srcset="./images/hotel-page/desktop-hotel-slider2.jpg 1x, ./images/hotel-page/desktop-hotel-slider2@2x.jpg 2x"
            media="(min-width: 1280px)">
          <source
            srcset="./images/hotel-page/tablet-hotel-slider2.jpg 1x, ./images/hotel-page/tablet-hotel-slider2@2x.jpg 2x"
            media="(max-width: 1279px)">
          <source
            srcset="./images/hotel-page/mobile-hotel-slider2.jpg 1x, ./images/hotel-page/mobile-hotel-slider2@2x.jpg 2x"
            media="(max-width: 1023px)">
          <img class="room-hotel__foto" src="./images/hotel-page/mobile-hotel-slider2.jpg" alt="Фото інтер'єру кімнати">
        </picture>
      </li>
      <li class="swiper-slide details-hotel__item swiper-slide-duplicate swiper-slide-duplicate-active"
        data-swiper-slide-index="0" role="group" aria-label="4 / 6">
        <picture>
          <source
            srcset="./images/hotel-page/desktop-hotel-slider1.jpg 1x, ./images/hotel-page/desktop-hotel-slider1@2x.jpg 2x"
            media="(min-width: 1280px)">
          <source
            srcset="./images/hotel-page/tablet-hotel-slider1.jpg 1x, ./images/hotel-page/tablet-hotel-slider1@2x.jpg 2x"
            media="(max-width: 1279px)">
          <source
            srcset="./images/hotel-page/mobile-hotel-slider1.jpg 1x, ./images/hotel-page/mobile-hotel-slider1@2x.jpg 2x"
            media="(max-width: 1023px)">
          <img class="details-hotel__foto" src="./images/hotel-page/mobile-hotel-slider1.jpg"
            alt="Фото інтер'єру кімнати">
        </picture>
      </li>
      <li class="swiper-slide details-hotel__item swiper-slide-duplicate swiper-slide-duplicate-next"
        data-swiper-slide-index="1" role="group" aria-label="5 / 6">
        <picture>
          <source
            srcset="./images/hotel-page/desktop-hotel-slider2.jpg 1x, ./images/hotel-page/desktop-hotel-slider2@2x.jpg 2x"
            media="(min-width: 1280px)">
          <source
            srcset="./images/hotel-page/tablet-hotel-slider2.jpg 1x, ./images/hotel-page/tablet-hotel-slider2@2x.jpg 2x"
            media="(max-width: 1279px)">
          <source
            srcset="./images/hotel-page/mobile-hotel-slider2.jpg 1x, ./images/hotel-page/mobile-hotel-slider2@2x.jpg 2x"
            media="(max-width: 1023px)">
          <img class="room-hotel__foto" src="./images/hotel-page/mobile-hotel-slider2.jpg" alt="Фото інтер'єру кімнати">
        </picture>
      </li>
      <li class="swiper-slide details-hotel__item swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="2"
        role="group" aria-label="6 / 6">
        <picture>
          <source
            srcset="./images/hotel-page/desktop-hotel-slider1.jpg 1x, ./images/hotel-page/desktop-hotel-slider1@2x.jpg 2x"
            media="(min-width: 1280px)">
          <source
            srcset="./images/hotel-page/tablet-hotel-slider1.jpg 1x, ./images/hotel-page/tablet-hotel-slider1@2x.jpg 2x"
            media="(max-width: 1279px)">
          <source
            srcset="./images/hotel-page/mobile-hotel-slider1.jpg 1x, ./images/hotel-page/mobile-hotel-slider1@2x.jpg 2x"
            media="(max-width: 1023px)">
          <img class="details-hotel__foto" src="./images/hotel-page/mobile-hotel-slider1.jpg"
            alt="Фото інтер'єру кімнати">
        </picture>
      </li>
    </ul>
    <div class="room-hotel__button-wrapper">
      <button class="swiper-button-prev1 room-hotel__button-swipe" type="button" tabindex="0" aria-label="Previous slide"
        aria-controls="swiper-wrapper-ffe2b4130f0f25e8">
        <svg class="room-hotel__button-icon">
          <use href="./images/icons.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="swiper-button-next1 room-hotel__button-swipe" type="button" tabindex="0" aria-label="Next slide"
        aria-controls="swiper-wrapper-ffe2b4130f0f25e8">
        <svg class="room-hotel__button-icon">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
  </div>












    <a href="/src/room.html" class="button hotel-button__detals">Детальніше</a>
    <button
      type="button"
      class="button hotel-button__detals"
      data-modal-price-open
    >
      Переглянути ціни
    </button>
  </div>
</section>
