<section class="hotel-room__standart">
  <div class="container container__room">
    <h3 class="hotel-room__title--standart">Amet minim mollit non</h3>
    <h2 class="hotel-room__logo--standart">MIMIHO</h2>
    <h1 class="hotel-room__heading--standart">ТРЬОХМІСНИЙ НОМЕР</h1>
    <p class="hotel-room__text--standart">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/main-page/desktop-hotel-interior1.jpg    1x,
          ./images/main-page/desktop-hotel-interior1@2x.jpg 2x
        "
        src="./images/main-page/desktop-hotel-interior1.jpg"
        width="460"
      />
      <source
        media="(min-width: 1024px)"
        srcset="
          ./images/main-page/tablet-hotel-interior1.jpg    1x,
          ./images/main-page/tablet-hotel-interior1@2x.jpg 2x
        "
        src="./images/main-page/tablet-hotel-interior1.jpg"
        width="400"
      />
      <img
        srcset="
          ./images/main-page/mobile-hotel-interior1.jpg    1x,
          ./images/main-page/mobile-hotel-interior1@2x.jpg 2x
        "
        src="./images/main-page/mobile-hotel-interior1.jpg"
        width="244"
        alt="Інтер'єр номеру"
        class="hotel-room__img--standart"
      />
    </picture>
    <button class="button hotel-button__detals" onclick="window.location.href = './room.html';"> Детальніше </button>
    <button
      type="button"
      class="button hotel-button__detals--standart"
      data-modal-price-open
    >
      Переглянути ціни
    </button>
  </div>
</section>
