<footer class="footer">
  <section class="container footer__container">
    <span class="footer__line"></span>
    <a href="./index.html" class="footer__logo">Mimiho</a>
    <div class="footer__lists">
      <ul class="footer__navigation">
        <li class="footer__navigation-item">
          <a href="./index.html" class="footer__navigation-link">Головна</a>
        </li>
        <li class="footer__navigation-item">
          <a href="./restaurant.html" class="footer__navigation-link"
            >Ресторан</a
          >
        </li>
        <li class="footer__navigation-item">
          <a href="./hotel.html" class="footer__navigation-link">Готель</a>
        </li>
      </ul>
      <ul class="footer__social">
        <li class="footer__item">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="footer__social-link"
          >
            <svg width="24" height="24">
              <use
                href="./images/icons.svg#icon-instagram"
                class="footer__social-icon"
              ></use>
            </svg>
            <span class="footer__social-text">Instagram</span>
          </a>
        </li>
        <li class="footer__item">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            class="footer__social-link"
          >
            <svg width="24" height="24">
              <use
                href="./images/icons.svg#icon-facebook"
                class="footer__social-icon"
              ></use>
            </svg>
            <span class="footer__social-text">Facebook</span>
          </a>
        </li>
        <li class="footer__item">
          <a
            href="https://telegram.org/"
            target="_blank"
            class="footer__social-link"
          >
            <svg width="24" height="24">
              <use
                href="./images/icons.svg#icon-telegram"
                class="footer__social-icon"
              ></use>
            </svg>
            <span class="footer__social-text">Telegram</span>
          </a>
        </li>
      </ul>
    </div>
  </section>
</footer>
