<header class="header">
    <div class="container responsiv">
        <div class="header__container">
            <a href="./index.html" class="logo">MIMIHO</a>
            <ul class="site-nav">
                <li class="site-nav__item">
                    <a href="./restaurant.html" class="site-nav__link">Ресторан</a>
                    <div class="site-nav__link--container">
                        <a href="tel:+380955559533" class="site-nav__number">
                            <svg width="24" height="24" class="site-nav__svg">
                                <use href="./images/icons.svg#icon-phone"></use>
                            </svg></a>
                        <a href="tel:+380955559533" class="site-nav__number--tel">
                            <svg width="24" height="24" class="site-nav__svg">
                                <use href="./images/icons.svg#icon-phone"></use>
                            </svg>
                            095 555 95 33</a>
                    </div>

                </li>
                <li class="site-nav__item">
                    <a href="./hotel.html" class="site-nav__link">Готель</a>
                    <div class="site-nav__link--container">
                        <a href="tel:+380668491089" class="site-nav__number">
                            <svg width="24" height="24" class="site-nav__svg">
                                <use href="./images/icons.svg#icon-phone"></use>
                            </svg></a>
                        <a href="tel:+380668491089" class="site-nav__number--tel">
                            <svg width="24" height="24" class="site-nav__svg">
                                <use href="./images/icons.svg#icon-phone"></use>
                            </svg>
                            066 849 10 89 </a>
                        <a href="tel:+380672758540" class="site-nav__number--tel">
                            067 275 85 40 </a>
                    </div>
                </li>
            </ul>
            <ul class="social">
                <li>
                    <a href="https://www.instagram.com/" target="_blank">
                        <svg width="24" height="24" class="social__svg">
                            <use href="./images/icons.svg#icon-instagram">
                            </use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/" target="_blank">
                        <svg width="24" height="24" class="social__svg">
                            <use href="./images/icons.svg#icon-facebook">
                            </use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://telegram.org/" target="_blank">
                        <svg width="24" height="24" class="social__svg">
                            <use href="./images/icons.svg#icon-telegram">
                            </use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>