
.interior {
    font-family: 'Montserrat';
    padding-top: 18px;
    padding-bottom: 20px;
/*   
@media (min-width: 1024px) {
    width: 1024px;
    }
@media (min-width: 1280px) {
    width: 1280px;
    }*/
}
.interior .container {
    background: var(--color-dark-lemon);
    outline: 3px solid tomato;
    overflow: hidden;
}

.interior__title {
    position: relative;
    text-align: right;
    margin: 0 0 16px 0;
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    color: #494848;
    @media (min-width: 1024px) {
        font-size: 64px;
        }
} 

.interior__text {
    text-align: right;
    margin: 0 0 6px 0;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #B4B4B4;
    @media (min-width: 1024px) {
        font-size: 32px;
            }
}
.interior__description {
    text-align: left;
    align-self: flex-end;
    margin: 0 0 28px 0;
    width: 242px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #5F5F5F;
    @media (min-width: 1024px) {
            font-size: 16px;
            }
}

.interior__list {
    display: flex;
    flex-direction: column;

    list-style-type: none;
    padding: 0;
    margin: 0;
}

.interior__item {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #5F5F5F;
    max-width: 100%;
}

.interior__item:nth-child(2n) {
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.interior__img {
    display: flex;
    max-width: 244px;
    border-radius: 2px;
    margin-bottom: 32px;
    background: #DADADA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    @media (min-width: 1024px) {
            max-width: 244px;
            }
}
.interior__item:nth-child(2) .interior__img {
    max-width: 200px;
    @media (min-width: 1024px) {
            max-width: 350px;
        }
}
.interior__item:nth-child(2n)>.interior__description {
    align-self: center;
    margin-bottom: 0;
    margin-right: 21px;
    color: var(--color-brown);
}
.interior__item:nth-child(2n) {
    justify-content: space-between;
}
.interior__slide-list {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;

}


    
.interior__slide-item {
    position: relative; 
}
.interior__slide-img {
    margin: 0 auto;
    background: #DADADA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

}
.interior__slide-item:nth-child(2n+1)>.interior__slide-img {
    position: absolute;
    left: -265px;
    max-width: 245px;
    height: auto;
    border: 1px solid rgba(186, 186, 186, 0.4);

}
.interior__arrows {
    display: flex;
    justify-content: space-between;
    width: 98px;
    height: 32px;
}
.interior__button {
    width: 32px;
    height: 32px;
    padding: 0;
    border: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.interior__button:hover,
.interior__button:focus {
    fill: var(--color-brown);
}