.kitchen {
    background-color: var(--color-background-lemon);
    width: 100%;
    position: relative;
        @media screen and (min-width: 1024px){
            position: relative;
        }
    &__description {
            display: block;
            font-family: "Times New Roman";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 1.15;
            color: rgb(180, 180, 180);
            margin-bottom: 12px;
                @media screen and (min-width: 1024px) {
                font-size: 32px;
                line-height: 1.16;
                margin-bottom: 4px;
        }
        }
    &__tehnologies {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 1.25;
            letter-spacing: 0.02em;
            color: rgb(95, 95, 95);
            display: block;
            max-width: 258px;
            margin-bottom: 28px;
                @media screen and (min-width: 1024px) {
                font-size: 16px;
                line-height: 1.25;
                max-width: 439px;
                margin-bottom: 142px;
        }
                @media screen and (min-width: 1280px) {
                margin-bottom: 162px;
                max-width: 518px;
        }
        }

    &__container {
        position: relative;
        padding-top: 16px;
        padding-bottom: 20px;

        @media screen and (min-width: 1024px) {
                padding-top: 120px;
                padding-bottom: 32px;
        }
    }

    &__line {
        position: absolute;
        display: block;
        top: 0;
        width: 1;
        height: 100%;
        left: 140px;
        border: 1px solid rgba(186, 186, 186, 0.4);

        @media screen and (min-width: 1024px) {
            left: 50%;
        }

        &::after {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            width: 1;
            height: 100%;
            left: 132px;
            border: 1px solid rgba(186, 186, 186, 0.4);

            @media screen and (min-width: 1024px) {
                left: 232px;
            }

            @media screen and (min-width: 1280px) {
                left: 297px;
            }
        }

        &::before {
            @media screen and (min-width: 1024px) {
                content: '';
                position: absolute;
                display: block;
                top: 0;
                width: 1;
                height: 100%;
                right: 235px;
                border: 1px solid rgba(186, 186, 186, 0.4);
            }

            @media screen and (min-width: 1280px) {
                right: 299px;
            }
        }
    }
    }

.logo-mimino {
    font-family: "Film P3";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;
    letter-spacing: 0.3em;
    color: rgb(73, 72, 72);
    display: block;
    margin-bottom: 12px;
    text-decoration: none;
        @media screen and (min-width: 1024px) {
        font-size: 64px;
        line-height: 1.078;
        margin-bottom: 24px;
}
}
.kitchen__processes {
    display: flex;
    justify-content: flex-end;
}
.kitchen__tumb--kitchen {
    display: block;
    max-width: 244px;
    margin-bottom: 32px;
    @media screen and (min-width: 1024px){
        width: 244px;
        height: 322px;
    }
    @media screen and (min-width: 1024px) {
        position: absolute;
        min-width: 400px;
        min-height: 524px;
        top: -32px;
        right: 112px;
    }
    @media screen and (min-width: 1280px) {
        top: -33px;
        min-width: 460px;
        min-height: 574px;
        border-radius: 2px;
        right: 180px;
}
}
.kitchen__tumb--meat {
    display: block;
    
    margin-bottom: 32px;
    @media screen and (max-width: 413px) {
        max-width: 200px;
    }
    @media screen and (min-width: 414px) {
        width: 200px;
        height: 278px;
    }
    @media screen and (min-width: 1024px) {
        width: 350px;
        height: 500px;
        margin-bottom: 0px;
}
    @media screen and (min-width: 1280px) {
        min-width: 460px;
        min-height: 574px;
        margin-bottom: 0;
}
}
.kitchen__photo {
    display: block;
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    border-radius: 2px;
    object-position: top center;
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 60px 2px;
    @media screen and (min-width: 1024px) {
        box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 70px 17px;
        object-fit: cover;
        height: 100%;
    }
}
.kitchen__principles {
    position: relative;
    display: flex;
    align-items: center;
    &-text {
        display: block;
        max-width: 163px;
        margin-left: 30px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: var(--color-brown);
        @media screen and (min-width: 1024px) {
            font-size: 16px;
            margin-left: 48px;
            max-width: 312px;
    }
        @media screen and (min-width: 1280px) {
            margin-left: 32px;
    }
    }
    &__buttons {
        display: flex;
        justify-content: flex-end;
        @media screen and (min-width: 1024px) {
            position: absolute;
            right: 60px;
            bottom: 32px;
    }
        @media screen and (min-width: 1280px) {
            position: absolute;
            right: 87px;
    }
    }
}
.arrow {
    width: 32px;
    height: 32px;
    margin-right: 32px;
    background-color: transparent;
    border: none;
    padding: 0;
    fill: var(--color-black);
    transition: fill var(--animation-time) var(--bezier-function);
    cursor: pointer;

    &--mirror {
        width: 32px;
        height: 32px;
        background-color: transparent;
        border: none;
        padding: 0;
        fill: var(--color-black);
        transition: fill var(--animation-time) var(--bezier-function);
        cursor: pointer;

        &:hover, &:focus {
            fill: var(--color-accent-yellow);
        }
    }

    &__icon {
        width: 32px;
        height: 32px;
    }

    &:hover, &:focus {
        fill: var(--color-accent-yellow);
    }
}
.carousel__tumb {
    position: relative;
    height: 297px;
    display: flex;
    justify-content: flex-end;
    @media screen and (min-width: 1024px) {
        height: 230px;
    }
    @media screen and (min-width: 1280px) {
        height: 239px;
    }
}
.carousel {
    position: absolute;
    right: -15px;
    top: 0px;
    width: 329px;
    height: 245px;
    @media screen and (min-width: 1024px) {
        position: absolute;
        width: 514px;
        right: 0px;
        top: -79px;
}
    @media screen and (min-width: 1280px) {
        bottom: 0px;
        right: 0px;
}
    &__list {
        height: 245px;
        width: 9999px;
        margin: 0;
        padding: 0;
        list-style: none;
        transition: margin-left 250ms;
        font-size: 0;
}
    &__item {
        display: inline-block;
}
    &__img {
        width: 245px;
        height: 245px;
        display: block;
        border-radius: 2px;
    }
    &__buttons {
        position: relative;
        max-width: 100px;
        max-height: 32px;
        left: 225px;
            @media screen and (min-width: 1024px) {
                left: 415px;
        }
    }
}
.carousel__item:not(:last-child) {
    margin-right: 24px;
}
.gallery {
    width: 329px;
    overflow: hidden;
    margin-bottom: 20px;
    @media screen and (min-width: 1024px) {
        width: 514px;
        margin-bottom: 32px;
}
    @media screen and (min-width: 1280px) {
        right: -82px;
        margin-bottom: 40px;
}
}
.slide-button__icon {
    width: 32px;
    height: 32px;
}