.interior {
    font-family: 'Montserrat';
    padding-top: 18px;
    padding-bottom: 20px;
    background: var(--color-background-lemon);
    @media (min-width: 1024px) {
    padding-top: 120px;
    padding-bottom: 262px;
    }
    @media (min-width: 1280px) {
    padding-top: 120px;
    padding-bottom: 196px;
                }
}

        .interior__title {  
    position: relative;
    display: block;
    text-align: right;
    margin: 0 0 16px 0;
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    transform: translateX(0.3em);
    color: var(--color-logo);
    @media (min-width: 1024px) {
        font-size: 64px;
        margin-bottom: 4px;
        }
        @media (min-width: 1280px) {
        margin-bottom: 24px;
        }
} 

.interior__text {
    text-align: right;
    margin: 0 0 6px 0;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #B4B4B4;
    @media (min-width: 1024px) {
        font-size: 32px;
        margin-bottom: 4px;
            }
}
.interior__description {
    text-align: left;
    align-self: flex-end;
    margin: 0 0 28px 0;
    width: 242px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--color-paragraph-gray);
    @media (min-width: 1024px) {
        font-size: 16px;
        width: 419px;
        margin: 0 0 142px 0;
            }
    @media (min-width: 1280px) {
        width: 488px;
        margin: 0 0 162px 0;
        }
}

.interior__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.interior__item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--color-paragraph-gray);
    max-width: 100%;
}

.interior__item:nth-child(2n) {
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.interior__img {
    display: flex;
    max-width: 244px;
    border-radius: 2px;
    margin-bottom: 32px;
    background: #DADADA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    @media (min-width: 1024px) {
        position: absolute;    
        top: -258px;
        left: 65px;
        max-width: 400px;
        margin-bottom: 0;
            }
    @media (min-width: 1280px) {
            max-width: 460px;
          left: 95px;
        }
}
.interior__item:nth-child(2n) .interior__img {
    max-width: 200px;
    @media (min-width: 1024px) {
        position: static;    
        max-width: 350px;
        }
    @media (min-width: 1280px) {
            max-width: 460px;
         }
}
.interior__item:nth-child(2n)>.interior__description {
    display: block;
    align-self: center;
    margin-bottom: 0;
    margin-right: 21px;
    width: 163px;
    color: var(--color-brown);
    @media (min-width: 1024px) {
        margin-right: 48px;
        width: 262px;
     }
    @media (min-width: 1280px) {
        transform: translateY(-40%);
}
}
.interior__item:nth-child(2n) {
    justify-content: space-between;
    @media (min-width: 1024px) {
        justify-content:flex-end;
        }
    }
// .interior__slider {
//    position: relative;
// }
// .interior__slider-wrapper {
//     position: relative;
//     clip-path: inset(-100vw 0 -100vw 0);
// @media (min-width: 1024px) {
//     position: absolute;
//     top: -28px;
//     width: 530px;
//     clip-path: inset(-100vw 0 -100vw 0);

//     }
// @media (min-width: 1280px) {
//     top: -167px;
//     width: 650px;
//     clip-path: inset(-100vw 0 -100vw 0);
// }
// }

.interior__slide-img {
    margin: 0 0 32px 0;
    max-width: 245px;
    background: #DADADA;

    border-radius: 2px;
    @media (min-width: 1024px) {
    max-width: 194px;
    
    }
    @media (min-width: 1280px) {
    max-width: 245px;
    }
}
.interior__arrows {
    display: flex;
    justify-content: space-between;
    width: 98px;
    height: 32px;
}
.interior__button {
    width: 32px;
    height: 32px;
    padding: 0;
    border: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition-property: fill;
    transition-duration: var(--animation-time);  
    transition-timing-function: var(--bezier-function);
}
.interior__button:hover,
.interior__button:focus {
    fill: var(--color-brown);
}
.container__line {
    position: relative;
}
.interior__line {
            position: absolute;
            display: block;
            top: 0;
            width: 1;
            height: 100%;
            left: 140px;
            border-left: 1px solid rgba(186, 186, 186, 0.4);
    
            @media screen and (min-width: 1024px) {
                left: 50%;
            }
    
            &::after {
                content: '';
                position: absolute;
                display: block;
                top: 0;
                width: 1;
                height: 110%;
                left: 132px;
                border-left: 1px solid rgba(186, 186, 186, 0.4);
    
                @media screen and (min-width: 1024px) {
                    left: 232px;
                }
    
                @media screen and (min-width: 1280px) {
                    left: 300px;
                    
                }
            }
    
            &::before {
                @media screen and (min-width: 1024px) {
                    content: '';
                    position: absolute;
                    display: block;
                    top: 0;
                    width: 1;
                    height: 100%;
                    right: 235px;
                    border-left: 1px solid rgba(186, 186, 186, 0.4);
                }
    
                @media screen and (min-width: 1280px) {
                    right: 303px;
                }
            }
        }
.interior__container {
    position: relative;
}
.interior__slider {
    max-width: 312px;
    overflow: hidden;

    @media screen and (min-width: 1024px) {
        max-width: 428px;
        position: absolute;
        bottom: -235px;
        left: 47px;


    }

    @media screen and (min-width: 1280px) {
        max-width: 530px;
        // margin-left: 10px;
        bottom: -150px;
        // left: 85px;
    }
}