.kitchen {
  background-color: var(--color-background-lemon);
  padding-top: 16px;
  padding-bottom: 20px;
  width: 100%;
  @media screen and (min-width: 1024px) {
    padding-top: 120px;
    padding-bottom: 32px;
    position: relative;
  }
  &__description {
    display: block;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: rgb(180, 180, 180);
    margin-bottom: 12px;
    @media screen and (min-width: 1024px) {
      font-size: 32px;
      line-height: 1.16;
      margin-bottom: 4px;
    }
  }
  &__tehnologies {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: rgb(95, 95, 95);
    display: block;
    max-width: 258px;
    margin-bottom: 28px;
    @media screen and (min-width: 1024px) {
      font-size: 16px;
      line-height: 1.25;
      max-width: 439px;
      margin-bottom: 142px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 162px;
      max-width: 518px;
    }
  }
}
.amenities__line {
  background-image: repeating-linear-gradient(
    to right,
    #fffdee,
    #fffdee 322px,
    #bababa66 1px,
    #bababa66 323px
  );
}
.logo-mimino {
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: rgb(73, 72, 72);
  display: block;
  margin-bottom: 12px;
  text-decoration: none;
  @media screen and (min-width: 1024px) {
    font-size: 64px;
    line-height: 1.078;
    margin-bottom: 24px;
  }
}
.kitchen__processes {
  display: flex;
  justify-content: flex-end;
}
.kitchen__tumb--kitchen {
  display: block;
  max-width: 244px;
  margin-bottom: 32px;
  @media screen and (min-width: 1024px) {
    position: absolute;
    min-width: 400px;
    min-height: 524px;
    top: -32px;
    right: 180px;
  }
  @media screen and (min-width: 1280px) {
    top: -33px;
    min-width: 460px;
    min-height: 574px;
    border-radius: 2px;
  }
}
.kitchen__tumb--meat {
  display: block;
  max-width: 200px;
  margin-bottom: 32px;
  @media screen and (min-width: 1024px) {
    min-width: 350px;
    min-height: 500px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 460px;
    min-height: 574px;
  }
}
.kitchen__photo {
  display: block;
  object-fit: cover;
  width: 100%;
  margin: 0px auto;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 60px 2px;
  @media screen and (min-width: 1024px) {
    box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 70px 17px;
  }
}
.kitchen__principles {
  display: flex;
  align-items: center;
}

.kitchen__principles-text {
  display: block;
  max-width: 163px;
  margin-left: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-brown);
  @media screen and (min-width: 1024px) {
    font-size: 16px;
    margin-left: 48px;
    max-width: 312px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 32px;
  }
}
.kitchen__buttons {
  display: flex;
  justify-content: flex-end;
  @media screen and (min-width: 1024px) {
    position: absolute;
    right: 60px;
    bottom: 32px;
  }
  @media screen and (min-width: 1280px) {
    position: absolute;
    right: 87px;
  }
}
.slide-button {
  width: 32px;
  height: 32px;
  margin-right: 32px;
  background-color: transparent;
  border: none;
  &--mirror {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
  }
  &__icon {
    width: 32px;
    height: 32px;
  }
}
.kitchen__slide {
  width: 245px;
  height: 245px;
  @media screen and (min-width: 1024px) {
    width: 194px;
    height: 194px;
  }
  @media screen and (min-width: 1280px) {
    width: 245px;
    height: 245px;
  }
}
.gallery {
  width: 300px;
  overflow: hidden;
}
.gallery__list {
  display: flex;
  gap: 24px;
  @media screen and (min-width: 1024px) {
    gap: 40px;
  }
  @media screen and (min-width: 1280px) {
    gap: 40px;
  }
}
.kitchen__slider-photo {
  display: block;
  width: 100%;
  // box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.carousel {
  position: relative;
  width: 300px;
}
