.amenities {
     position: relative;
    background-color: var(--color-background-lemon);
    padding-top: 32px;
    padding-bottom: 32px;

    @media screen and (min-width: 1024px) {
        padding-top: 48px;
        padding-bottom: 40px;
    }
         @media screen and (min-width: 1280px) {
             padding-top: 48px;
             padding-bottom: 48px;
         }
}

@media screen and (min-width: 1280px) {
.amenities__line {
    position: absolute;
    display: block;
    top: 0;
    width: 1px;
    height: 100%;
    border: 1px solid rgba(186, 186, 186, 0.4);
    right: 50%;
    }

.amenities__line::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    width: 1px;
    height: 100%;
    border: 1px solid rgba(186, 186, 186, 0.4);
    left: 302px;
 }
.amenities__line::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    width: 1px;
    height: 100%;
    border: 1px solid rgba(186, 186, 186, 0.4);
    right: 302px;
 }
}
.amenities__title {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.15;
    text-transform: uppercase;
    color: var(--color-black);
    margin-bottom: 16px;

}

.amenities__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #7A7A7A;
    margin-bottom: 16px;


    @media screen and (min-width: 1024px){
        max-width: 400px;
        margin-bottom: 0;
    }

}
.amenities__text:last-child {
    margin-bottom: 32px;

    @media screen and (min-width: 1024px) {
            margin-bottom: 0;
        }
}

 .text--1 {
    margin-bottom: 32px;
    
    @media screen and (min-width: 1024px){
        max-width: 757px;
    }
}
.amenities__subtitle {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-transform: uppercase;
    color:var(--color-black);
    margin-bottom: 16px;
}
.amenities__item {
    margin-bottom: 32px;
    
}
.amenities__item:last-child {
@media screen and (min-width: 1024px) {
        margin-bottom: 40px;
    }
}
.amenities__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 20px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--color-brown);
    fill: currentColor;

&:hover,
&:focus {
    color:var(--color-accent-yellow);
    }
         @media screen and (min-width: 1024px) {
        font-size: 20px;
        line-height: 1.2;
        margin-top: 32px;
        }

}

 
.amenities__flex{
    @media screen and (min-width: 1024px) {
        display: flex;
        gap: 80px;
    }
        @media screen and (min-width: 1280px) {
            gap: 159px;
        }   
}
.amenities-btns {
    @media screen and (min-width: 1024px) {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        justify-content: center;
        flex-wrap: wrap;
    }
        @media screen and (min-width: 1280px) {
            margin-right: 110px;
        }
 }
  

.amenities__button {
    position: relative;
}

 