.button {
    width: 236px;
    height: 48px;
    background-color: var(--color-black);
    border: 2px solid var(--color-background-lemon);
    border-radius: 25px;
    
    //text
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--color-accent-yellow);

    transition-property: background-color, border-color;
    transition-duration: var(--animation-time);
    transition-timing-function: var(--bezier-function);

    cursor: pointer;
    
    &:hover,
    &:focus {
        background-color: var(--color-white);
        border-color: var(--color-accent-yellow);
    }

    @media screen and (max-width: 414px) {
        max-width: 236px;
    }
}