.contacts {
    padding-top: 36px;
    padding-bottom: 32px;

    background-color: var(--color-background-lemon);

@media screen and (min-width: 1024px) {
    padding-top: 69px;
    padding-bottom: 40px;
    }

@media screen and (min-width: 1280px) {
    padding-top: 64px;
    padding-bottom: 74px;
    }
}

.contacts__logo {
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.07;
    letter-spacing: 0.3em;

    display: block;
    margin-bottom: 12px;

    text-decoration: none;
    color: #494848;

@media screen and (min-width: 1024px) {
    font-size: 64px;
    }

@media screen and (min-width: 1280px) {
    font-size: 64px;

    color: #828282;
    }
}

.contacts__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    margin-bottom: 16px;

    color: var(--color-paragraph-gray);

@media screen and (min-width: 1280px) {
    font-size: 20px;
    }
}

.address__list {
    display: flex;
    align-items: center;
    gap: 22px;
    margin-bottom: 16px;
}

.address__list--hotel {
    gap: 54px;
}

.address__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--color-brown);
}

.address__box {
    // display: flex;
    // align-items: center;
    // gap: 22px;
}

.address__wrap {
    display: flex;
    padding: 9px 7px 8px 8px;

    background: #FFFFFF;
    border: 0.5px solid #F3C653;
    border-radius: 2px;
    // padding: 11px 8px 9px 14px;
    
    // background: #FFFFFF;
    // border: 0.5px solid #F3C653;
    // border-radius: 2px;
}

.address__row {
    // display: flex;
    padding: 11px 8px 9px 14px;
    
        background: #FFFFFF;
        border: 0.5px solid #F3C653;
        border-radius: 2px;
}

.address__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.02em;

    text-decoration: none;
    color: #494848;

&--text {
    // padding: 8px 33px 7px 10px;
    // margin-bottom: 32px;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    }
}

.address__icon {
    width: 24px;
    height: 24px;

    fill: var(--color-brown);
}