.details-hotel {

    &__container {
        overflow: hidden;
        background-color: var(--color-background-lemon);
            background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/main-page/mobile-background-hotel.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding-top: 24px;
        
            @media (max-width: 1023) and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                    url('../images/main-page/mobile-background-hotel@2x.jpg');
            }
        
            @media (min-width: 1024px) {
                background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                    url('../images/main-page/tablet-background-hotel.jpg');
        
                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                        url('../images/main-page/tablet-background-hotel@2x.jpg');
                }
            }
        
            @media (min-width: 1280px) {
                background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                    url('../images/main-page/desktop-background-hotel.jpg');
        
                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                        url('../images/main-page/desktop-background-hotel@2x.jpg');
                }
            }
    }

    &__title {
        font-family: 'Film P3';
        font-weight: 700;
        font-size: 40px;
        line-height: 1.075;
        letter-spacing: 0.3em;
        color: var(--color-white);
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 12px;
    }

    &__subtitle {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--color-white);
        margin-bottom: 20px;
        margin-left: 47.6%;
    }

    &__text {
        width: 243px;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: #BABABA;
        margin-left: 17px;
        margin-bottom: 48px;
    }

    &__list {
        position: relative;
        margin-bottom: 16px;
    }

    &__item {
        &:nth-child(2n) {
            @media screen and (max-width: 1023px) {
                position: absolute;
                top: 0;
                left: -294px;
                }
            }
        
        &:nth-child(3n) {
            @media screen and (max-width: 1023px) {
                display: none;
            }
        }
    }

    &__foto {
        border-radius: 2px;
        margin-left: 85px;
    }
}