.details-restaurant {
    background-color: var(--color-background-lemon);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/main-page/mobile-background-restaurant.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 1023) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url('../images/main-page/mobile-background-restaurant@2x.jpg');
    }

    @media (min-width: 1024px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url('../images/main-page/tablet-background-restaurant.jpg');

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                url('../images/main-page/tablet-background-restaurant@2x.jpg');
        }
    }

    @media (min-width: 1280px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url('../images/main-page/desktop-background-restaurant.jpg');

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                url('../images/main-page/desktop-background-restaurant@2x.jpg');
        }
    }

    &__container {
        position: relative;
        overflow: hidden;

        padding-top: 24px;
        padding-bottom: 40px;
        padding-left: 0;
        padding-right: 0;

        @media screen and (min-width: 1024px) {
            padding-top: 48px;
            padding-bottom: 40px;
            padding-left: 47px;
        }

        @media screen and (min-width: 1280px) {
            padding-left: 52px;
        }

    }

    &__title {
        font-family: 'Film P3';
        font-weight: 700;
        font-size: 40px;
        line-height: 1.075;
        letter-spacing: 0.3em;
        color: var(--color-white);
        text-transform: uppercase;
        margin-left: 143px;
        margin-bottom: 12px;

        @media screen and (min-width: 1024px) {
            font-size: 64px;
            line-height: 1.078;
            text-align: left;
            margin-left: 231px;
            margin-bottom: 16px;
        }

        @media screen and (min-width: 1280px) {
            margin-left: 286px;
        }
    }

    &__subtitle {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--color-white);
        margin-bottom: 20px;
        margin-left: 143px;

        @media screen and (min-width: 1024px) {
            font-size: 24px;
            line-height: 1.21;
            margin-left: 231px;
            margin-bottom: 8px;
        }

        @media screen and (min-width: 1280px) {
            margin-left: 286px;
        }
    }

    &__text {
        width: 259px;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: #BABABA;
        margin-left: 143px;
        margin-bottom: 48px;

        @media screen and (min-width: 1024px) {
            width: 610px;
            font-size: 16px;
            line-height: 1.25;
            margin-left: 231px;
            margin-bottom: 40px;
        }

        @media screen and (min-width: 1280px) {
            width: 610px;
            margin-left: 286px;
        }
    }

    &__list {
        position: relative;
        margin-bottom: 16px;

        @media screen and (min-width: 1024px) {
            margin-bottom: 24px;
        }
    }

    &__foto {
        border-radius: 2px;
    }

    &__button-wrapper {
        width: 98px;
        display: flex;
        justify-content: space-between;
    }

    &__button-swipe {
        background: none;
        border: none;
        padding: 0;
        width: 32px;
        height: 32px;
        color: var(--color-white);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--color-accent-yellow);
        }
    }

    &__button-icon {
        fill: currentColor;
        width: 100%;
        height: 100%;
    }

    &__button {
        display: block;
        margin: 0 auto;
        position: relative;
        
        &:not(:last-child) {
            margin-bottom: 16px;

            @media screen and (min-width: 1024px) {
                bottom: 162px;
                margin-bottom: 0px;
            }

            @media screen and (min-width: 1280px) {
                bottom: 152px;
            }
        }

        @media screen and (min-width: 1024px) {
            position: absolute;
            left: 47px;
        }

        @media screen and (min-width: 1280px) {
            left: 86px;
        }

        &:last-child {
            @media screen and (min-width: 1024px) {
                bottom: 98px;
            }

            @media screen and (min-width: 1280px) {
                bottom: 88px;
            }
        }
    }

    &__line {
        position: absolute;
        display: block;
        top: 0;
        width: 1;
        height: 100%;
        left: 140px;
        border-left: 1px solid rgba(122, 122, 122, 0.4);

        @media screen and (min-width: 1024px) {
            left: 50%;
        }

        &::after {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            width: 1;
            height: 100%;
            left: 132px;
            border-left: 1px solid rgba(122, 122, 122, 0.4);

            @media screen and (min-width: 1024px) {
                left: 232px;
            }

            @media screen and (min-width: 1280px) {
                left: 300px;
            }
        }

        &::before {
            @media screen and (min-width: 1024px) {
                content: '';
                position: absolute;
                display: block;
                top: 0;
                width: 1;
                height: 100%;
                right: 235px;
                border-left: 1px solid rgba(122, 122, 122, 0.4);
            }

            @media screen and (min-width: 1280px) {
                right: 303px;
            }
        }
    }

}

div.swiper-details-restaurant {
    width: 374px;
    height: 318px;
    margin-left: 40px;
    margin-bottom: 32px;
    overflow: hidden;


    @media screen and (min-width: 1024px) {
            width: 662px;
            margin-left: 265px;
            margin-bottom: 10px;
        }

    @media screen and (min-width: 1280px) {
            width: 874px;
            margin-left: 300px;
            margin-bottom: 0px;
        }

}

.details-restaurant__list {
    height: 270px;
}

.details-restaurant__item {
    width: auto;
}