.hotel-room__luxe {
  background: var(--color-background-lemon);
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;

  &--line {
    position: absolute;
    display: none;
    top: 0;
    width: 1;
    height: 100%;
    left: 140px;
    border: 1px solid rgba(186, 186, 186, 0.4);

    @media screen and (min-width: 1024px) {
      display: block;
      left: 50%;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      width: 1;
      height: 100%;
      left: 132px;
      border: 1px solid rgba(186, 186, 186, 0.4);

      @media screen and (min-width: 1024px) {
        left: 232px;
      }

      @media screen and (min-width: 1280px) {
        left: 297px;
      }
    }

    &::before {
      @media screen and (min-width: 1024px) {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        width: 1;
        height: 100%;
        right: 235px;
        border: 1px solid rgba(186, 186, 186, 0.4);
      }

      @media screen and (min-width: 1280px) {
        right: 299px;
      }
    }
  }
}
.container__room {
  position: relative;
}
.hotel-room__title__title {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: var(--color-gray);
}

.hotel-room__title__logo {
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: var(--color-logo);
  margin-top: 8px;
}

.hotel-room__title__heading {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17px;
  letter-spacing: 0.05em;
  color: var(--color-black);
  margin-top: 12px;
}

.hotel-room__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  margin-top: 32px;
}

.hotel-room__img {
  background: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: 0;
}

.hotel-button__detals {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.hotel-button__detals:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 1024px) {
  .hotel-room__luxe {
    padding-top: 62px;
    padding-bottom: 40px;
  }
  .hotel-room__title {
    font-size: 32px;
  }
  .hotel-room__logo {
    font-size: 64px;
    line-height: 1.08;
    margin-top: 4px;
  }

  .hotel-room__heading {
    font-size: 30px;
    line-height: 1.13;
    margin-top: 62px;
  }

  .hotel-room__text {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 176px;
    width: 439px;
  }

  .hotel-room__img {
    display: flex;
    position: absolute;
    top: -105px;
    left: auto;
    right: 11%;
    margin: 0;
  }

  .hotel-button__detals {
    margin-bottom: 113px;
    margin-right: 0;
    margin-left: auto;
  }

  .hotel-button__detals:not(:last-child) {
    margin-bottom: 16px;
    margin-top: -24%;
  }
}

@media screen and (min-width: 1280px) {
  .hotel-room__luxe {
    padding-top: 72px;
  }
  .hotel-room__heading {
    font-size: 36px;
    line-height: 1.14;
    margin-top: 72px;
  }

  .hotel-room__text {
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 188px;
    width: 439px;
  }
  .hotel-button__detals {
    margin-bottom: 142px;
  }
}

// SWIPER
.swiper__room {
  width: 284px;
  height: 246px;
  margin-bottom: 16px;
  margin-left: -15px;

  // outline: 1px solid red;
}

.room-hotel__list {
  height: 194px;
  margin-left: -120px;
}
.room-hotel__item {
  margin-right: 16px;
}

.room-hotel__foto {
  background: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.room-hotel__button-wrapper {
  width: 98px;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
}

.room-hotel__button-swipe {
  width: 32px;
  height: 32px;
  color: var(--color-white);
  background: none;
  border: none;
  padding: 0;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover .room-hotel__button-icon,
  &:focus .room-hotel__button-icon {
    fill: var(--color-accent-yellow);
  }
}

.room-hotel__button-icon {
  fill: var(--color-black);
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .swiper__room {
    width: 428px;
    height: 258px;
    margin-left: 0;
    margin-bottom: 8px;
  }
  .room-hotel__button-wrapper {
    margin-left: auto;
    margin-right: 0;
    margin-top: 32px;
  }
  .room-hotel__item {
    margin-right: 40px;
  }
  .swiper-wrapper__room {
    height: 194px;
    margin-left: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .swiper__room {
    width: 548px;
    height: 326px;
    margin-bottom: 13px;
  }

  .swiper-wrapper__room {
    height: 254px;
  }
  .room-hotel__list {
    height: 254px;
    margin-left: 0;
  }

  .room-hotel__item {
    margin-right: 16px;
  }
  .room-hotel__foto {
    margin-left: -146px;
  }
}
