.logo {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: cyan;
}