.logo {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background-color: red;
  display: flex;
  color: cyan;
}

.logo-team {
  justify-content: center;
  align-items: center;
  text-align: center;
}
