.social {
  &__list {
    display: flex;
    gap: 20px;
    position: absolute;
    left: 15px;
    bottom: 20px;

    @media screen and (min-width: 1024px) {
      left: 47px;
      bottom: 15px;
    }

    @media screen and (min-width: 1280px) {
      display: none;
    }
  }

  &__link {
    display: block;
    height: 24px;
  }

  &__logo {
    fill: var(--color-accent-yellow);
  }

  &__list--room {
    flex-direction: column;
    gap: 8px;
    left: 14px;
    z-index: 2;

    @media screen and (min-width: 1024px) {
      gap: 20px;
      flex-direction: row;
      bottom: 38px;
      left: 372px;
    }
  }
}
