.hotel-room__standart {
  background: var(--color-background-dark-lemon);
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;

  &--line {
    position: absolute;
    display: none;
    top: 0;
    width: 1;
    height: 100%;
    left: 140px;
    border: 1px solid rgba(186, 186, 186, 0.4);

    @media screen and (min-width: 1280px) {
      display: block;
      left: 50%;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      width: 1;
      height: 100%;
      left: 132px;
      border: 1px solid rgba(186, 186, 186, 0.4);

      @media screen and (min-width: 1280px) {
        left: 297px;
      }
    }

    &::before {
      @media screen and (min-width: 1280px) {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        width: 1;
        height: 100%;
        right: 299px;
        border: 1px solid rgba(186, 186, 186, 0.4);
      }

    }
  }
}

.hotel-room__title--standart {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: var(--color-gray);
}

.hotel-room__logo--standart {
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: var(--color-logo);
  margin-top: 8px;
}

.hotel-room__heading--standart {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17px;
  letter-spacing: 0.05em;
  color: var(--color-black);
  margin-top: 12px;
}

.hotel-room__text--standart {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  margin-top: 32px;
}

.hotel-room__img--standart {
  background: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 0;
  margin-right: auto;
}

.hotel-button__detals--standart {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.hotel-button__detals--standart:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 1024px) {
  .hotel-room__standart {
    padding-top: 62px;
    padding-bottom: 40px;
  }
  .hotel-room__title--standart {
    font-size: 32px;
    text-align: right;
    margin-left: auto;
  }

  .hotel-room__logo--standart {
    font-size: 64px;
    line-height: 1.08;
    text-align: right;
    margin-left: auto;
    margin-top: 4px;
  }

  .hotel-room__heading--standart {
    font-size: 30px;
    line-height: 1.13;
    text-align: right;
    margin-left: auto;
    margin-top: 62px;
  }

  .hotel-room__text--standart {
    font-size: 16px;
    text-align: right;
    margin-left: auto;
    margin-top: 16px;
    margin-bottom: 176px;
    width: 439px;
  }

  .hotel-room__img--standart {
    display: flex;
    position: absolute;
    top: -105px;
    right: auto;
    left: 11%;
    margin: 0;
  }

  .hotel-button__detals--standart {
    margin-bottom: 113px;
    margin-right: auto;
    margin-left: 0;
  }

  .hotel-button__detals--standart:not(:last-child) {
    margin-bottom: 16px;
    margin-top: -24%;
  }
}

@media screen and (min-width: 1280px) {
  .hotel-room__standart {
    padding-top: 72px;
  }
  .hotel-room__heading--standart {
    font-size: 36px;
    line-height: 1.14;
    margin-top: 72px;
  }

  .hotel-room__text--standart {
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 176px;
    width: 439px;
  }
  .hotel-button__detals--standart {
    margin-bottom: 142px;
    margin-right: auto;
    margin-left: 0;
  }
}

.swiper__room--standart {
  width: 284px;
  height: 246px;
  margin-bottom: 16px;
  margin-right: -15px;
  margin-left: auto;
}

.room-hotel__button-wrapper--standart {
  width: 98px;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
}

@media screen and (min-width: 1024px) {
  .swiper__room--standart {
    width: 428px;
    height: 258px;
    margin-right: 0;
    margin-bottom: 8px;
  }

  .room-hotel__button-wrapper--standart {
    margin-right: auto;
    margin-left: 0;
    margin-top: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .swiper__room--standart {
    width: 548px;
    height: 326px;
    margin-bottom: 13px;
  }
}
