<section class="about-restaurant container__line">
  <span class="about-restaurant__line"></span>
  <div class="container about-restaurant__container">
    <h2 class="visually-hidden about-restaurant_title">About our restaurant</h2>

    <div class="about-restaurant__text-wrap">
      <h3 class="about-restaurant__sub-title">Amet minim mollit non</h3>
      <h4 class="about-restaurant__name">MIMIHO</h4>

      <p class="about-restaurant__text about-restaurant__text-position">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="about-restaurant__image-wrap">
      <picture>
        <source
          srcset="
            ./images/main-page/mobile-restaurant-interior1.jpg    1x,
            ./images/main-page/mobile-restaurant-interior1@2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <source
          srcset="
            ./images/main-page/tablet-restaurant-interior1.jpg    1x,
            ./images/main-page/tablet-restaurant-interior1@2x.jpg 2x
          "
          media="(min-width: 1024px) and (max-width: 1279px)"
        />
        <source
          srcset="
            ./images/main-page/desktop-restaurant-interior1.jpg    1x,
            ./images/main-page/desktop-restaurant-interior1@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <img
          class="about-restaurant__image"
          src="./images/main-page/mobile-restaurant-interior1.jpg"
          alt="tables in restaurant"
        />
      </picture>
    </div>

    <div
      class="about-restaurant__container about-restaurant__container-position"
    >
      <picture>
        <source
          srcset="
            ./images/main-page/mobile-restaurant-interior2.jpg    1x,
            ./images/main-page/mobile-restaurant-interior2@2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <source
          srcset="
            ./images/main-page/tablet-restaurant-interior2.jpg    1x,
            ./images/main-page/tablet-restaurant-interior2@2x.jpg 2x
          "
          media="(min-width: 1024px) and (max-width: 1279px)"
        />
        <source
          srcset="
            ./images/main-page/desktop-restaurant-interior2.jpg    1x,
            ./images/main-page/desktop-restaurant-interior2@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <img
          class="about-restaurant__image"
          src="./images/main-page/mobile-restaurant-interior2.jpg"
          alt="tables in restaurant with view"
        />
      </picture>
      <p class="about-restaurant__text about-restaurant__text__color">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <ul class="about-restaurant__slaider swiper">
      <li class="about-restaurant__slaider-item-first">
        <picture>
          <source
            srcset="
              ./images/main-page/mobile-restaurant-slider1.jpg    1x,
              ./images/main-page/mobile-restaurant-slider1@2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <source
            srcset="
              ./images/main-page/tablet-restaurant-slider1.jpg    1x,
              ./images/main-page/tablet-restaurant-slider1@2x.jpg 2x
            "
            media="(min-width: 1024px) and (max-width: 1279px)"
          />
          <source
          srcset="
            ./images/main-page/desktop-restaurant-slider1.jpg    1x,
            ./images/main-page/desktop-restaurant-slider1@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
          <img
            class="about-restaurant__image about-restaurant__image-slider"
            src="./images/main-page/mobile-restaurant-slider1.jpg"
            alt="a man holds a glass of wine at the table"
          />
        </picture>
      </li>
      <li class="about-restaurant__slaider-item-second">
        <picture>
          <source
            srcset="
              ./images/main-page/mobile-restaurant-slider2.jpg    1x,
              ./images/main-page/mobile-restaurant-slider2@2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <source
            srcset="
              ./images/main-page/tablet-restaurant-slider2.jpg    1x,
              ./images/main-page/tablet-restaurant-slider2@2x.jpg 2x
            "
            media="(min-width: 1024px) and (max-width: 1279px)"
          />
          <source
          srcset="
            ./images/main-page/desktop-restaurant-slider2.jpg    1x,
            ./images/main-page/desktop-restaurant-slider2@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
          <img
            class="about-restaurant__image about-restaurant__image__shadow"
            src="./images/main-page/mobile-restaurant-slider2.jpg"
            alt="served table"
          />
        </picture>
      </li>
    </ul>

    <div class="about-restaurant__button-wrap swiper-button-prev">
      <button type="button" class="about-restaurant__button ">
        <svg class="about-restaurant__icon" width="32" height="32">
          <use href="./images/icons.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button type="button" class="about-restaurant__button swiper-button-next">
        <svg class="about-restaurant__icon" width="32" height="32">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>

  <script type="module" src="./js/slider-about-restaurant.js"></script>
</section>
