<section class="about-restaurant">
  <div class="container">
    <h2 class="visually-hidden about-restaurant_title">About our restaurant</h2>
    <h3 class="about-restaurant_sub-title">Amet minim mollit non</h3>
    <h4 class="about-restaurant_name">MIMIHO</h4>
    <ul>
      <li class="about-restaurant_item">
        <p class="about-restaurant_text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <picture>
          <source
            srcset="
              ./images/mobile-restaurant-interior1.jpg    1x,
              ./images/mobile-restaurant-interior1@2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <source
            srcset="
              ./images/tablet-restaurant-interior1.jpg    1x,
              ./images/tablet-restaurant-interior1@2x.jpg 2x
            "
            media="(max-width: 1279px)"
          />
          <img
            srcset="
              ./images/desktop-restaurant-interior1.jpg    1x,
              ./images/desktop-restaurant-interior1@2x.jpg 2x
            "
            src="./images/desktop-restaurant-interior1.jpg"
            alt="tables in restaurant"
          />
          />
        </picture>
      </li>
      <li class="about-restaurant_item">
        <picture>
          <source
            srcset="
              ./images/mobile-restaurant-interior2.jpg    1x,
              ./images/mobile-restaurant-interior2@2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <source
            srcset="
              ./images/tablet-restaurant-interior2.jpg    1x,
              ./images/tablet-restaurant-interior2@2x.jpg 2x
            "
            media="(max-width: 1279px)"
          />
          <img
            srcset="
              ./images/desktop-restaurant-interior2.jpg    1x,
              ./images/desktop-restaurant-interior2@2x.jpg 2x
            "
            src="./images/desktop-restaurant-interior2.jpg"
            alt="tables in restaurant with view"
          />
        </picture>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
    </ul>
    <img
      src="./images/desktop-restaurant-slider1.jpg"
      alt="a man holds a glass of wine at the table"
    />
    <img src="./images/desktop-restaurant-slider2.jpg" alt="served table" />
  </div>
</section>
