 <ul class="about-restaurant__slaider">
      <li class="about-restaurant__slaider-item-first">
        <picture>
          <source
            srcset="
              ./images/main-page/mobile-restaurant-slider1.jpg    1x,
              ./images/main-page/mobile-restaurant-slider1@2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <source
            srcset="
              ./images/main-page/tablet-restaurant-slider1.jpg    1x,
              ./images/main-page/tablet-restaurant-slider1@2x.jpg 2x
            "
            media="(min-width: 1024px) and (max-width: 1279px)"
          />
          <source
          srcset="
            ./images/main-page/desktop-restaurant-slider1.jpg    1x,
            ./images/main-page/desktop-restaurant-slider1@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
          <img
            class="about-restaurant__image about-restaurant__image-slider"
            src="./images/main-page/mobile-restaurant-slider1.jpg"
            alt="a man holds a glass of wine at the table"
          />
        </picture>
      </li>
      <li class="about-restaurant__slaider-item-second">
        <picture>
          <source
            srcset="
              ./images/main-page/mobile-restaurant-slider2.jpg    1x,
              ./images/main-page/mobile-restaurant-slider2@2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <source
            srcset="
              ./images/main-page/tablet-restaurant-slider2.jpg    1x,
              ./images/main-page/tablet-restaurant-slider2@2x.jpg 2x
            "
            media="(min-width: 1024px) and (max-width: 1279px)"
          />
          <source
          srcset="
            ./images/main-page/desktop-restaurant-slider2.jpg    1x,
            ./images/main-page/desktop-restaurant-slider2@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
          <img
            class="about-restaurant__image about-restaurant__image__shadow"
            src="./images/main-page/mobile-restaurant-slider2.jpg"
            alt="served table"
          />
        </picture>
      </li>
    </ul>

    <div class="about-restaurant__button-wrap">
      <button type="button" class="about-restaurant__button">
        <svg class="about-restaurant__icon" width="32" height="32">
          <use href="./images/icons.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button type="button" class="about-restaurant__button">
        <svg class="about-restaurant__icon" width="32" height="32">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>

  <script type="module" src="./js/slider-about-restaurant.js"></script>
</section>
