<section class="interior">
    <div class="container">
        <p class="interior_text">
            Amet minim mollit non
        </p>
        <h2 class="interior_title">MIMIHO</h2>
        <ul class="interior_list">
            <li class="interior_item">
                <p class="interior_description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                    consequat duis enim velit
                    mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
                <img src="./images/main-page/mobile-hotel-interior1.jpg" 
                alt="appartment"
                class="interior_img"
                width="460">
            </li>
            <li class="interior_item">
                <p class="interior_description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                        officia consequat duis enim velit
                        mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
                <img src="./images/main-page/mobile-hotel-interior2.jpg" alt="holl"
                class="interior_img"
                width="460">
            </li>
        <div class="slider"></div>
    </div>
</section>