<section class="interior container__line">
    <div class="container ">
        <span class="interior__line"></span>
        <p class="interior__text">
            Amet minim mollit non
        </p>
        <h2 class="interior__title">MIMIHO</h2>
        <ul class="interior__list">
            <li class="interior__item">
                <p class="interior__description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                    consequat duis enim velit
                    mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
                <picture>
                    <source media="(min-width: 1280px)"
                            srcset="./images/main-page/desktop-hotel-interior1.jpg 1x, 
                                    ./images/main-page/desktop-hotel-interior1@2x.jpg 2x"
                            src="./images/main-page/desktop-hotel-interior1.jpg" width="460">
                    <source media="(min-width: 1024px)"
                            srcset="./images/main-page/tablet-hotel-interior1.jpg 1x, 
                                    ./images/main-page/tablet-hotel-interior1@2x.jpg 2x"
                            src="./images/main-page/desktop-hotel-interior1.jpg" width="400">
                    <img
                            srcset="./images/main-page/mobile-hotel-interior1.jpg 1x, 
                                    ./images/main-page/mobile-hotel-interior1@2x.jpg 2x"
                            src="./images/main-page/mobile-hotel-interior1.jpg" width="244"
                            alt="appartment"
                            class="interior__img">
                    </picture>
            </li>
            <li class="interior__item">
                <p class="interior__description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                        officia consequat duis enim velit
                        mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
                <picture>
                    <source media="(min-width: 1280px)" 
                    srcset="./images/main-page/desktop-hotel-interior2.jpg 1x, 
                            ./images/main-page/desktop-hotel-interior2@2x.jpg 2x"
                        src="./images/main-page/desktop-hotel-interior2.jpg" width="460">
                    <source media="(min-width: 1024px)" 
                    srcset="./images/main-page/tablet-hotel-interior2.jpg 1x, 
                            ./images/main-page/tablet-hotel-interior2@2x.jpg 2x"
                        src="./images/main-page/desktop-hotel-interior2.jpg" width="350">
                    <img srcset="./images/main-page/mobile-hotel-interior2.jpg 1x, 
                                ./images/main-page/mobile-hotel-interior2@2x.jpg 2x"
                        src="./images/main-page/mobile-hotel-interior2.jpg" width="200" 
                        alt="holl" 
                        class="interior__img">
                </picture>
            </li>
            </ul>
        <div class="interior__slider">
            <div class="interior__slider-wrapper">
        <ul class="interior__slide-list">
            <li class="interior__slide-item">
                <picture>
                    <source media="(min-width: 1280px)" 
                    srcset="./images/main-page/desktop-hotel-slider2.jpg 1x, 
                            ./images/main-page/desktop-hotel-slider2@2x.jpg 2x"
                        src="./images/main-page/desktop-hotel-slider2.jpg" width="245">
                    <source media="(min-width: 1024px)" 
                    srcset="./images/main-page/tablet-hotel-slider2.jpg 1x, 
                            ./images/main-page/tablet-hotel-slider2@2x.jpg 2x"
                        src="./images/main-page/desktop-hotel-interior1.jpg" width="194">
                    <img srcset="./images/main-page/mobile-hotel-slider2.jpg 1x, 
                                ./images/main-page/mobile-hotel-slider2@2x.jpg 2x"
                        src="./images/main-page//mobile-hotel-slider2.jpg" width="245" 
                        alt="bedroom" 
                        class="interior__slide-img">
                </li>
            <li class="interior__slide-item">
                <picture>
                    <source media="(min-width: 1280px)" 
                    srcset="./images/main-page/desktop-hotel-slider1.jpg 1x, 
                            ./images/main-page/desktop-hotel-slider1@2x.jpg 2x"
                        src="./images/main-page/desktop-hotel-slider1.jpg" width="245">
                    <source media="(min-width: 1024px)"
                    srcset="./images/main-page/tablet-hotel-slider1.jpg 1x, 
                            ./images/main-page/tablet-hotel-slider1@2x.jpg 2x"
                        src="./images/main-page/desktop-hotel-interior1.jpg" width="194">
                    <img srcset="./images/main-page/mobile-hotel-slider1.jpg 1x, 
                                ./images/main-page/mobile-hotel-slider1@2x.jpg 2x"
                        src="./images/main-page//mobile-hotel-slider1.jpg" width="245" 
                        alt="reception" 
                        class="interior__slide-img">
            </li>
        </ul>
  <div class="interior__arrows">     
<button class="interior__button">
    <svg class="interior__arrows">
    <use href="./images/icons.svg#icon-arrow-left" 
    width="32"
    class="interior__arrow-left">     
    </use>
</svg>
</button>
<button class="interior__button">
    <svg class="interior__arrows">
        <use href="./images/icons.svg#icon-arrow-right  " width="32" class="interior__arrow-left">
        </use>
    </svg>
</button>
    </div>
        </div>
</div>
    </div>
</section>