<section class="contacts">
  <div class="container contacts__box">
    <span class="contacts__deco-line"></span>
    <div class="contacts__wrap">
      <h2 class="visually-hidden">контакти</h2>
      <a class="contacts__logo" href="./index.html">mimiho</a>
      <p class="contacts__title">Ресторанно-готельний комплекс</p>

      <address class="address">
        <ul>
          <li class="address__list">
            <p class="address__text">Ресторан</p>
            <div class="address__wrap">
              <a class="address__link" href="tel:0955559533">
                <svg class="address__icon">
                  <use href="./images/icons.svg#icon-phone"></use></svg
                >095 555 95 33
              </a>
            </div>
          </li>

          <li class="address__list address__list--hotel">
            <p class="address__text">Готель</p>
            <div class="address__wrap address__wrap--telephone">
              <a class="address__link" href="tel:0668491089">
                <svg class="address__icon">
                  <use href="./images/icons.svg#icon-phone"></use></svg
                >066 849 10 89</a
              >
              <a class="address__link" href="tel:0672758540">067 275 85 40</a>
            </div>
          </li>

          <li class="address__row">
            <a
              class="address__link address__link--text"
              href="https://goo.gl/maps/B53TPSeZN73z6Cg39"
            >
              <svg class="address__icon">
                <use href="./images/icons.svg#icon-location"></use>
              </svg>
              Україна, м. Полтава,<br />
              вул. Маршала Бірюзова, 15</a
            >
          </li>
        </ul>
      </address>
    </div>

    <address>
      <p>
        <iframe
          class="address__map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d153132.74853874944!2d34.35305023352893!3d49.5700716978671!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2z0JPQvtGC0LXQu9GM0L3Qvi3RgNC10YHRgtC-0YDQsNC90L3QuNC5INC60L7QvNC_0LvQtdC60YEgItCc0ZbQvNGW0L3QviI!5e1!3m2!1sru!2sua!4v1669903281232!5m2!1sru!2sua"
          width="384"
          height="220"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
      </p>
    </address>
  </div>
</section>
