<section class="details-hotel">
    <div class="container details-hotel__container">
        <h2 class="details-hotel__title">Mimiho</h2>
        <h3 class="details-hotel__subtitle">Готель</h3>
        <p class="details-hotel__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
            mollit.</p>
        <ul class="details-hotel__list">
            <li class="details-hotel__item">
                <picture>
                    <source
                        srcset="./images/main-page/mobile-hotel-details-slider1.jpg 1x, ./images/main-page/mobile-hotel-details-slider1@2x.jpg 2x"
                        media="(max-width: 1023px)">
                    <source
                        srcset="./images/main-page/tablet-hotel-details-slider1.jpg 1x, ./images/main-page/tablet-hotel-details-slider1@2x.jpg 2x"
                        media="(max-width: 1279px)">
                    <source
                        srcset="./images/main-page/desktop-hotel-details-slider1.jpg 1x, ./images/main-page/desktop-hotel-details-slider1@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <img class="details-hotel__foto" src="./images/main-page/mobile-hotel-details-slider1.jpg" alt="Фото інтер'єру кімнати">
                </picture>
            </li>
            <li class="details-hotel__item">
                <picture>
                    <source
                        srcset="./images/main-page/mobile-hotel-details-slider2.jpg 1x, ./images/main-page/mobile-hotel-details-slider2@2x.jpg 2x"
                        media="(max-width: 1023px)">
                    <source
                        srcset="./images/main-page/tablet-hotel-details-slider2.jpg 1x, ./images/main-page/tablet-hotel-details-slider2@2x.jpg 2x"
                        media="(max-width: 1279px)">
                    <source
                        srcset="./images/main-page/desktop-hotel-details-slider2.jpg 1x, ./images/main-page/desktop-hotel-details-slider2@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <img class="details-hotel__foto" src="./images/main-page/mobile-hotel-details-slider2.jpg" alt="Фото страви">
                </picture>
            </li>
            <li class="details-hotel__item">
                <picture>
                    <source
                        srcset="./images/main-page/tablet-hotel-details-slider3.jpg 1x, ./images/main-page/tablet-hotel-details-slider3@2x.jpg 2x"
                        media="(max-width: 1279px)">
                    <source
                        srcset="./images/main-page/desktop-hotel-details-slider3.jpg 1x, ./images/main-page/desktop-hotel-details-slider3@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <img class="team__foto" src="./images/main-page/tablet-hotel-details-slider3.jpg" alt="Фото страви">
                </picture>
            </li>
        </ul>
        <button type="button"></button>
        <button type="button"></button>
        <button type="button" data-modal-room-open>Забронювати номер</button>
        <form action="./hotel.html">
            <button>Переход по ссылке</button>
        </form>
    </div>
</section>